//$navbar-padding-x: 100px;
$navbar-dark-color: #dddddd;
$navbar-dark-active-color: #ffffff;

$body-color: #ffffff;
$headings-font-family: 'Staatliches', sans-serif;
$h1-font-size: 60px;

$primary: #ff93f1;