@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import "./customvars";

// https://getbootstrap.com/docs/4.3/getting-started/theming/
// required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// optional
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/buttons";

// custom
@import "./nav";
@import "./breakpoints";

body {
    background: #888888 url("../img/OswaldsBanner_mono_1718.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
    background-position: center center;
    background-repeat: no-repeat;
}
.content-frame {
    position: relative;
    margin-bottom: 100px;
    background-color: rgba(66, 66, 66, 0.9);
    padding: 2% 0px;
    &:first-of-type {
        margin-top: 300px;
    }
}

.scroll-anchor {
    position: absolute;
    top: -200px;
    left: 0;
}