

.navbar {
    background-color: rgba(50, 50, 50, 0.7);
    font-size: 20px;
    position: sticky;
    top: 0;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    z-index: 1000;
    justify-content: space-between;

    li a {
        display: inline-block;
    }

    .nav-item .active {
        font-weight: bold;
    }

    &:hover {
        background-color: rgba(50, 50, 50, 0.9);
    }

    #nav-logo {
        height: 70px;
    }
}