@import "./main";

#about-box {
    margin-top: 400px;
}

#join-box {
    button {
        float: right;
        margin: 8px 0px 20px 20px;
        width: 150px;
    }
    p {
        margin-top: 0px;
    }
}

#welcome-box {
    img {
        float: right;
        margin: 0px 0px 10px 10px;
        width: 140px;
        border-radius: 50%;
    }
    p {
        margin-top: 0px;
    }
}

#exec-box {
    text-align: center;
    hr {
        border: 1px #dddddd solid;
        width: 90%;
        margin: 4% 5%;
    }
    .name-cont {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row img {
        margin: 10px 0px;
        width: 100%;
        border-radius: 50%;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        font-size: 15px;
    }
}

#conductor-box {
    h2 {
        margin-bottom: 1rem;
    }
    img {
        width: 100%;
    }
}

#mail-hidden-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: 1000000;
}