@import "./main";

// BREAKPOINTS
@include media-breakpoint-down(lg) {
    #exec-box {
        ul li {
            font-size: 13px;
        }
    }
}
@include media-breakpoint-down(md) {
    body {
        font-size: 15px;
    }
    #about-box {
        margin-top: 300px !important;
    }
    #exec-box {
        b {
            font-size: 15px;
        }
        h3 {
            font-size: 1.4rem;
        }
    }
}
@include media-breakpoint-down(sm) {
    // pretend the exec box never existed
    #exec-box, #exec-btn {
        display: none;
    }
}

.float-clearer {
    clear: both;
    display: block;
}

#about-box {
    margin-top: 400px;
}

#join-box {
    button {
        float: right;
        margin: 8px 0px 20px 20px;
        width: 150px;
    }
    p {
        margin-top: 0px;
    }
}

#welcome-box {
    img {
        float: right;
        margin: 0px 0px 10px 10px;
        width: 140px;
        border-radius: 50%;
    }
    p {
        margin-top: 0px;
    }
}

#exec-box {
    text-align: center;
    hr {
        border: 1px #dddddd solid;
        width: 90%;
        margin: 4% 5%;
    }
    .name-cont {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row img {
        margin: 10px 0px;
        width: 100%;
        border-radius: 50%;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        font-size: 15px;
    }
}

#conductor-box {
    h2 {
        margin-bottom: 1rem;
    }
    img {
        width: 15%;
        min-width: 100px;
        float: left;
        margin: 0px 15px 5px 0px;
    }
}

#mail-hidden-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: 1000000;
}