@import "./main";

.content-frame:first-of-type {
    margin-top: 100px !important;
}

.hidden {
    display: none;
}
label {
    font-weight: bold;
    font-size: 25px;
    span {
        font-weight: normal;
        font-size: 18px;
        margin-left: 10px;
    }
}
.mergeRow {
    margin-top: 20px;
}
ul {
    list-style-type: none;
}
input {
    width: 500px;
    font-size: 20px;
    padding: 10px;
    background-color: #eeeeee;
    border: none;
    &.av-checkbox {
        width: 20px;
        transform: scale(1.5);
    }
}